<% provide(:title,"Home") %>
<div class="center jumbotron">
  <h1>Welcome To The Sample App!</h1>
  <h2>Sample Page!</h2>
  <%= link_to "Sign Up Now!", signup_path, class: "btn bnt-lg btn-primary" %>
</div>

